.photo-card {
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
}


.map-wrapper {
  width: 100%;
  height: 260px;
  iframe { width: 100%; height: 100%; border: 0; }
}
